.wrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.54)), to(rgba(0, 0, 0, 0.54))), url(../images/header-bg.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)), url(../images/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 100vh;
  height: 100%;
  position: relative;
}

.header {
  background-color: #fff;
  border: 3px solid blue;
}
.header-btn {
  color: blue;
  font-size: 21px;
  font-family: sans-serif;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
.header-inner {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.header-signup {
  color: blue;
  font-size: 17px;
  font-family: sans-serif;
}

.create-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: 20px;
  margin-bottom: 20px;
}

.create-portfolio__btn {
  color: #fff;
  font-family: sans-serif;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border-radius: 7px;
  border: 2px solid orange;
  padding: 15px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.form-input {
  width: 550px;
  height: 60px;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 24px;
}
.form-input::-webkit-input-placeholder {
  font-size: 20px;
}
.form-input::-moz-placeholder {
  font-size: 20px;
}
.form-input:-ms-input-placeholder {
  font-size: 20px;
}
.form-input::-ms-input-placeholder {
  font-size: 20px;
}
.form-input::placeholder {
  font-size: 20px;
}
.form-search {
  font-size: 50px;
  background-color: blue;
  border: none;
  border-radius: 10px;
}
.form-search ion-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 20px;
  color: rgb(183, 183, 21);
}

.search-work-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.work-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  color: #fff;
}
.work-border {
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding-left: 20px;
  width: 550px;
  height: 200px;
  background-color: transparent;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
.work-job {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
  gap: 10px;
}
.work-title {
  font-size: 19px;
}
.work-contact {
  color: #fff;
}

.instruction {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.3);
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s, visibility 0.4s;
  transition: opacity 0.4s, visibility 0.4s;
}
.instruction.open {
  visibility: visible;
  opacity: 1;
}
.instruction.open .instruction__box {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.instruction__box {
  position: relative;
  max-width: 500px;
  padding: 45px;
  z-index: 1;
  margin: 30px 15px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  border-radius: 20px;
}
.instruction-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
}
.instruction-close-btn svg path {
  -webkit-transition: fill 0.4s;
  transition: fill 0.4s;
}
.instruction-close-btn:hover svg path {
  fill: blue;
}
.instruction-close-btn:active svg path {
  fill: rgb(186, 53, 0);
}
.instruction-article {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.offer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.3);
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s, visibility 0.4s;
  transition: opacity 0.4s, visibility 0.4s;
}
.offer input[type=text] {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.offer.open {
  visibility: visible;
  opacity: 1;
}
.offer.open .offer__box {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.offer__box {
  position: relative;
  max-width: 500px;
  padding: 45px;
  z-index: 6;
  margin: 30px 15px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  border-radius: 20px;
}
.offer-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
}
.offer-close-btn svg path {
  -webkit-transition: fill 0.4s;
  transition: fill 0.4s;
}
.offer-close-btn:hover svg path {
  fill: blue;
}
.offer-close-btn:active svg path {
  fill: rgb(186, 53, 0);
}
.offer-form-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
}
.offer-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  margin: 0 auto;
}
.offer-border {
  border-radius: 5px;
}
.offer-send-wrap {
  text-align: center;
}
.offer-user-name {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.offer-job {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.offer-select {
  padding: 10px 0;
  padding-left: 10px;
}
.offer-before {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 73px;
}
.offer-after {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 73px;
}
.offer-contact {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.offer-send {
  width: 150px;
  border-radius: 10px;
  padding: 10px 0;
  background-color: rgb(254, 166, 4);
}

.text-to-speech-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.3);
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s, visibility 0.4s;
  transition: opacity 0.4s, visibility 0.4s;
}
.text-to-speech-modal.open {
  visibility: visible;
  opacity: 1;
}
.text-to-speech-modal.open .text-to-speech-modal__box {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.text-to-speech-modal__box {
  position: relative;
  max-width: 500px;
  padding: 45px;
  z-index: 1;
  margin: 30px 15px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  border-radius: 20px;
}
.text-to-speech-modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
}
.text-to-speech-modal-close-btn svg path {
  -webkit-transition: fill 0.4s;
  transition: fill 0.4s;
}
.text-to-speech-modal-close-btn:hover svg path {
  fill: blue;
}
.text-to-speech-modal-close-btn:active svg path {
  fill: rgb(186, 53, 0);
}

.btn-open-to__speech {
  position: fixed;
  right: 30px;
  bottom: 30px;
  padding: 20px;
  border-radius: 50%;
  border: none;
  background-color: blue;
}
.btn-open-to__speech ion-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}

textarea {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type=number] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-speech-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

#play-button {
  background-color: #28a745;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  color: #fff;
}

#play-button:hover {
  background-color: #218838;
}

#pause-button {
  background-color: #ffc107;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: #fff;
}

#pause-button:hover {
  background-color: #e0a800;
}

#stop-button {
  background-color: #dc3545;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  border: none;
}

#stop-button:hover {
  background-color: #c82333;
}

@media (max-width: 700px) {
  .form-input {
    width: 450px;
    height: 60px;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 24px;
  }
}
@media (max-width: 586px) {
  .form-input {
    width: 350px;
    height: 50px;
    font-size: 18px;
  }
  .form-search {
    font-size: 37px;
  }
  .work-border {
    width: 350px;
  }
}
@media (max-width: 460px) {
  .form-input {
    width: 250px;
    height: 40px;
    font-size: 15px;
  }
  .form-search {
    font-size: 30px;
  }
  .create-portfolio__btn {
    padding: 7px;
  }
}
@media (max-width: 561px) {
  .instruction {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  .instruction-box {
    height: 90%;
  }
}